html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    font-family: Lato, sans-serif;
    color: #000;
    font-weight: 900;
}

h1 {
    font-size: 45px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 25px;
    margin: 35px 0 15px;
}

h4 {
    font-size: 20px;
    margin: 30px 0 15px;
}


a {
    color: #e22c29;
}

a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    outline: none;
}

ol li, p, ul li {
    margin: 20px 0;
}

strong {
    font-weight: 600;
}

.post-data h1, .post-data ul, h3, h4, h5, p, pre {
    margin-bottom: 20px;
}

pre, table, th, thead th {
    font-size: 14px;
}

img, pre {
    border-radius: 3px;
}

pre, table {
    line-height: 1.5em;
}

blockquote {
    background: #f5f5f5;
    padding: 25px 30px;
    margin: 10px 0;
    border-left: 0px;
    font-size: 17px;
}

blockquote p {
    margin: 0;
}

table {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

table-bordered>thead>tr>th {
    border-bottom-width: 2px;
}

table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    border: 1px solid #ddd;
}

th {
    text-align: left;
}

.text-muted {
    color: #767676;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.header-block {
    width: 54%;
    margin: 0 auto;
    border-bottom: #E3E3E3 solid 1px;
}

.post-nav {
    margin-top: 79px;
    margin-bottom: 39px;
}

.post-nav-btn {
    font-size: 20px;
    font-weight: bold;
    color: #e22c29;
}

.post-nav-btn:hover {
    color: #e22c29;
}

.blog-title {
    margin-top: 69px;
    margin-bottom: 69px;
}

.blog-title h1 {
    letter-spacing: 2px;
    font-size: 45px;
    margin-bottom: 8px;
    font-weight: 900;
}

.blog-title p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog-title p a {
    color: #e22c29;
    border-bottom: 1px solid #e22c29;
}

.blog-title p a:hover {
    color: #e22c29;
    border-bottom: 0;
}

.square {
    text-align: right;
    margin-top: 18px;
    font-size: 30px;
}


.hero-description h1 {
    font-size: 46px;
}

.post-list { 
    border-bottom: #E3E3E3 solid 1px;
}

.post-list {
    text-align: justify;
    
    width: 54%;
    margin: 0 auto;
    
    padding-top: 40px;
    padding-bottom: 40px;
}

.post-list a:hover {
    border-bottom: 1px solid #e22c29;
    border-bottom: 0;
    color: #e22c29;
}

.post-content, p {
    line-height: 31px;
}

.post-content ul li, .post-content ol li {
    margin: 10px 0;
}

.post-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.post-content h1 {
    font-size: 31px;
    margin-bottom: 5px;
}

.post-content {
    font-size: 18px;
    line-height: 3rem;
}

.post-content a {
    border-bottom: 1px solid #e22c29;
}

.post-data img {
    min-width: auto;
    margin: auto;
    max-width: 100%;
    margin: 20px 0;
}

.post-data h1, .post-data h2 {
    margin: 35px 0 25px;
}

.post-data .post-page-title {
    line-height: 4.5rem;
    text-align: center;
    font-size: 45px;
    margin-bottom: 12px;
    margin-top: 0px;
}

.post-data .emoji {
    display: inline-block;
    width: 26px;
    height: 26px;
    position: relative;
    top: -2px;
}

.post-meta-data {
    color: #767676;
}

.author-img {
    width: 45px;
    height: 45px;
}

.footer a:active {
    border-bottom: #e22c29 solid 1px;
}

.footer a:hover {
    border-bottom: 1px solid #e22c29;
    text-decoration: none;
    color: #e22c29;
}

.navibar a {
    color: #000;
}

.navibar a:active {
    border-bottom: #000 solid 1px;
}

.navibar a:hover {
    border-bottom: #E3E3E3 solid 1px;
    text-decoration: none;
    color: #E3E3E3;
}

.post-line {
    margin-top: 15px;
    margin-bottom: 12px;
}

.post-titles {
    float: left;
}

.dates {
    float: right;
}

.post-titles h1 {
    font-size: 19px;
    display: inline;
    line-height: 4rem;
    color: #e22c29;
}

.post-meta-data {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.dates {
    color: #767676;
    font-size: 16px;
    font-style: italic;
    position: relative;
    top: 10px;
}

.slag-page {
    text-align: center;
    margin-bottom: 20px;
}

.error-page {
    text-align: center;
}

.righted {
    text-align: right;
}

.paddd {
    padding-left: 0px;
    padding-right: 0px;
}

.pagination-wrapper {
    text-align: center;
    font-size: 18px;
}

.pagination {
    margin: 5px 0;
}

.pagination-wrapper a {
    color: #000;
}

.pagination-wrapper a:hover {
    color: #767676;
    border-bottom: none;
}

.comments-list {
    padding-top: 40px;
}

.footer, .comments-list { 
    width: 54%;
    margin: 0 auto;
}

.footer {
    font-size: 13px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer h3 {
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-inner {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 3rem;
}

.footer-inner .col-md-4 {

    height: 100%;
}

.footer-inner .mid {
    padding-bottom: 20px;
    border-right: #E3E3E3 solid 1px;
    border-left: #E3E3E3 solid 1px;
}

.navibar {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.navibar-inner {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    line-height: 3rem;
}

.description {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {
    .header-block,
    .post-list,
    .footer {
        width: 80%;
    }
}

.emoji {
    display: inline-block;
    height: 1em;
    width: 1em;
    overflow: hidden;
    line-height: 18px;
    vertical-align: middle;
}

code {
    font-family: 'Source Code Pro', Consolas, Menlo, monospace !important;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    padding: 2px 4px;
    color: #666666;
}

pre {
    padding: 20px;
    overflow: auto;
    background: #272b2d;
    font-family: 'Source Code Pro', Consolas, Menlo, monospace !important;
    font-weight: 500;
    color: #d0d4d7 !important;
    border: none !important;
    vertical-align: baseline;
}

pre code {
    white-space: pre;
}
