{% if page.comments %}
<!-- Add Disqus comments. -->
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        var disqus_shortname = 'ziishaned';
        this.page.title = "{{ page.title }}";
        this.page.identifier = '{{ page.url }}';
        this.page.url = '{{ site.url }}{{ page.url }}';
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//ziishaned.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments.</a>
</noscript>
{% endif %}


