<footer class="text-center mar-tb-6">
    <p style="margin-bottom: 0.1rem;">© {{'now' | date: '%Y' }} {{ site.author }}, unless otherwise stated.</p>
    <a target="_blank" href="https://github.com/{{ site.github }}" class="link-github">GitHub</a> ・
    <a target="_blank" href="https://medium.com/@ziishaned" class="link-medium">Medium</a> ・
    <a target="_blank" href="https://twitter.com/{{ site.twitter }}" class="link-twitter">Twitter</a> ・
    <a href="mailto:{{ site.email }}" class="link-email">Email</a>
</footer>
