<section class="footer">
	<p class="text-muted">© 2017. All rights reserved.</p>
	<p class="text-muted">If you've got any feedback, comments or just want to chat you can get in touch via <strong><a href="mailto:ziishaned@gmail.com">email</a></strong> or on twitter <strong><a href="https://twitter.com/ziishaned" target="_blank">@ziishaned</a></strong>. Also, here are
            the links to my <strong><a href="http://github.com/zeeshanu">github</a></strong> and <strong><a href="http://pk.linkedin.com/in/">linkedin</a></strong> profiles.</p>
</section>