<header class="header-block row">
	{% if page.layout == 'post' %}
		<div class="post-nav">
	        <a href="/" class="post-nav-btn">&larr; Home</a>
	    </div>
	{% else %}
	    <div class="blog-title">
	        <h1>Zeeshan Ahmed</h1>
	        <p>I am a Developer at <a href="http://tajawal.com" target="_blank" rel="external">Tajawal</a> with a knack for getting things done. I am quite active on <a href="http://github.com/zeeshanu" target="_blank" rel="external">Github</a> and this is the place where I
	        blab about the technical stuff and sometimes about the stuff in general.</p>
	        <p>Feel free to <a href="mailto:ziishaned@gmail.com?subject=zeeshanu.github.io">drop me a line</a> or <a href="#">subscribe to RSS</a>.</p>
	    </div>
	{% endif %}
</header>