<nav class="nav">
    <div class="nav__left">
        <a href="/">Home</a>
        <a href="/about/">About</a>
    </div>
    
    <div class="nav__right">
        <a target="_blank" href="{{ site.about.github.url }}" class="link-github">GitHub</a>
        <a target="_blank" href="{{ site.about.medium.url }}" class="link-medium">Medium</a>
        <a target="_blank" href="{{ site.about.twitter.url }}" class="link-twitter">Twitter</a>
        <a href="{{ site.about.email.url }}" class="link-email">Email</a>
    </div>
</nav>