* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  color: $black;
  padding: 1rem;
  font-size: 1rem;
  max-width: 50rem;
  font-family: $sans;
  line-height: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;

  code {
    font-size: inherit;
  }
}

a {
  color: $red;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

ul, ol {
  margin-left: 1.8rem;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 0.9rem;
}

hr {
  border: 0;
  height: 25px;
  margin: 4rem auto;
  text-align: center;
  width: 100%;

  &::before {
    color: $gray;
    margin-left: 2rem;
    content: "•••";
    font-size: 1rem;
    letter-spacing: 1rem;
  }
}

blockquote {
  color: #828282;
  border-left: 0.25rem solid $gray-light;
  padding-left: 0.9rem;

  p {
    color: $gray;
    line-height: 1.7;
  }
}

img, video {
  margin: 1rem auto;
  border-radius: 3px;
  max-width: 100%;
  display: block;
}

ol, ul {
  li {
    & > p {
      font-size: 100%;

      & .reversefootnote {
        border-bottom: 0;
      }
    }
  }
}

sup {
  a {
    border-bottom: 0;
    color: $gray;
    text-decoration: none;

    &:hover {
      color: $red;
    }
  }
}

time {
  display: block;
  color: $gray;
}

table {
  margin: 2rem 0;
  border: 1px solid $gray-light;
  border-spacing: 0;
  border-collapse: collapse;
  min-height: .01%;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;

  tbody tr:nth-child(odd) {
    background-color: $white;
  }

  tbody tr:nth-child(even) {
    background-color: $gray-lightest;
  }

  th, td {
    padding: 0.6rem 1rem 0.6rem 1rem;
    color: $black;
  }

  th {
    font-weight: 600;
    background: $white;
    border-left: 1px solid $gray-light;
  }

  td {
    text-align: left;
    border-top: 1px solid $gray-light;
    border-left: 1px solid $gray-light;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin: 4.5rem 0 3rem;
  justify-content: space-between;

  .nav-brand {
    color: $red;
    font-weight: 400;
    font-size: 1.6rem;

    &:hover {
      color: $blue;
    }
  }

  a {
    text-decoration: none;
  }

  &__right {
    a {
      margin-right: .6rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

footer {
  color: $gray;
  font-size: 0.9rem;
}

.section__title {
  margin-bottom: 0;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $gray-light;
}

.post {
  width: 100%;
  color: $red;
  display: flex;
  font-size: .95rem;
  padding: 0.5rem 0;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  border-bottom: 1px solid $gray-light;

  .post__title {
    transition: padding-left .25s;
  }

  &:hover .post__title {
    color: $blue;
    padding-left: 1rem;
  }

  &__title {
    font-weight: 500;
  }

  &__date {
    color: $gray;
    font-size: .8rem;
  }
}

article {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  header {
    h1 {
      font-size: 2.2rem;
      line-height: 2.8rem;
      letter-spacing: -1px;
      margin-bottom: 0.2rem;
    }

    time {
      color: $gray;
      font-size: 0.8rem;
    }
  }

  a {
    color: $red;

    &:hover {
      color: $blue;
    }
  }
}
