// fonts
$mono: 'Fira Code', 'Roboto Mono', monospace;
$sans: 'Bitter', -apple-system, Helvetica, Arial, sans-serif;

// colors
$gray: #888;
$white: #fff;
$black: #111;
$black-light: #424242;
$red: #FF554A;
$blue: #0087F8;
$green: #00AB72;
$gray-light: #E8E8E8;
$gray-lightest: #F5F5F5;

// widths
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// levels
$l3: 1rem;
$l6: 2rem;
$l7: 3rem;
$l1: 0.8rem;
$l2: 0.67rem;
$l4: 1.33rem;
$l5: 1.78rem;
